# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* List popular languages for Data science
* List popular libraries for Data science
* List well known Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include: 
1. TensorFlow
2. Matplotlib
3. Pandas
4. Numpy

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Josh Carmichael